@import 'tailwindcss';

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-iphone: 340px;
  --breakpoint-iphone2: 390px;
  --breakpoint-sm: 425px;
  --breakpoint-14: 430px;
  --breakpoint-mac: 1440px;
  --breakpoint-2xl: 2560px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
